/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*上面是CSS reset*/
body{
    font-family: Microsoft JhengHei;
    margin:0 auto;
    width: 1024px;
    font-weight: 600;
}

/*上方選單*/

.header{
    background-image:url("images/banner2.png");
    width: 1024px;
    height: 560px;
}
.menu{
    height: 76px;
    background:rgb(255,255,255,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.menu ul{
    display: flex;
}
.menu li a{
    color: white;
    font-size: 16px;
    margin-left: 50px;
    text-decoration: none;
}

.menu li a:hover {
    color: #00cc99;
    border-bottom: 5px solid #00cc99;
    padding-bottom: 23px;
}

/*上方BANNER*/

.header h2{
    color: white;
    font-size: 48px;
    margin-top: 110px;
    margin-left:40px ;
    letter-spacing: 1px;
}

.header h3{
    color:#00cc99;
    font-size: 24px;
    margin-top: 10px;
    margin-left:40px ;
    letter-spacing: 1px;
}

.btn{
    width: 220px;
    height: 52px;
    border-radius: 5px;
    background:#00cc99;
    margin-left: 40px;
    margin-top: 60px;
}

.btn:hover{
    background: #008b69;
}

.btn p {
    color: white;
    text-align: center;
    padding-top: 15px;
    margin-top: 40px;
    letter-spacing: 1px;
    font-size: 20px;
}

.content{
    width: 1024px;
}

/*老師介紹*/

.teacher{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.teacher h1{
    padding-left: 35px;
    color: #00cc99;
    font-size: 36px;
    line-height: 54px;
}

.teacher span {
    color: #323228;
}

.teacher ul{
    padding-left: 35px;
}

.teacher li{
    color: #9b9b9b;
    line-height: 24px;
    letter-spacing: 1px;
}

/*這堂課有甚麼特別的?*/

.intro{
    padding-bottom: 30px;
    width: 620px;
    margin: 0 auto;
}

.intro h2 {
    color: #00cc99;
    font-size: 36px;
    padding-left: 30px;  
}

.intro span {
    color: #9b9b9b;
    font-size: 20px;
    padding-left: 20px;
}

.intro ul{
    margin: 0 auto;
    width: 611px;
    padding: 30px;
}

.intro li{
    color:#323223 ;
    line-height:24px ;   
}
.intro_content{
    margin: 0 auto;
    width: 620px;
    padding-top: 30px;
}
.intro_content li{
    height: 35px;
    padding-top: 15px;
    padding-left: 20px;
}

.gray{
    background:#ebebeb;
}

.subscribe{
    width: 1024px; 
    height: 396px;
    background: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn2{
    width: 220px;
    height: 52px;
    background: #00CC99;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-left:60px ;
}
.btn2 p{
    font-size: 20px;
    padding: 16px;
}

.subscribe h1{
    font-size: 30px;
    color: #323223;
    line-height: 45px;
}

.btn2:hover{
    background:#008b69;
}



/*表尾*/

.footer{
    width: 1024px;
    height: 132px;
    background:#323228;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer2{
    padding-left: 40px;
}

.footer2 p{
    padding-top: 2px;
    color: #9b9b9b;
    padding-left: 35px;
    letter-spacing: 1px;
}

.footer ul{
    display: flex;
    padding-right: 40px;
}

.footer li{
    padding-left: 20px;
}






